@charset "utf-8";
/* CSS Document */
#main1{
	position: relative;
	left: 10px;
	top: 30px;
	height: 600px;
	width: 80px;
}
#userinfo {
	position: relative;
	top: -80px;
	left: 100px;
	width: 500px;
}
#logo1{
	height: 80px;
	width: 80px;
	position: relative;
	top: 0px;
}